.Home {
  background-color: rgb(68, 72, 81);

  .editClient{
    cursor: pointer;
  }

  .clientList{
    display: flex;
    gap: 10px;
  }

  .clientListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr{
      border-color: white;
    }
  }
}
