.Home {
  background-color: rgb(68, 72, 81);

  .clientListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr{
      border-color: white;
    }
  }
}
