.SignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 150px;
    text-align: center;
    h2, p{
        color: white;
    }
    .main-header{
        margin-bottom: 15px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .submit-btn{
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    }
    .form-label{
        width: 250px;
    }

    .users-container{
        display: flex;
        gap: 10px;
    }

    .trash-logo{
        position: relative;
        top: 5px;
    }
}